In [1]:
import pandas as pd

In [7]:
df=pd.read_excel("Sales Analysis Report.xlsx")
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0005237,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025,93,9,7,261.3,107.133,1829.1
7987,SO - 0005477,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025,56,2,7,1996.6,1477.484,13976.2
7988,SO - 0006936,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025,66,1,9,3912.8,2817.216,35215.2
7989,SO - 0007126,2019-12-12,2019-12-25,6,Distributor,USD,FLR025,31,5,10,1855.9,1113.540,18559.0
7990,SO - 0007668,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025,65,13,11,3959.7,2138.238,43556.7

In [9]:
df["Channel"].value_counts()

Channel
Wholesale      4286
Distributor    2510
Export         1195
Name: count, dtype: int64

In [25]:
Max=df["Channel"].value_counts().idxmax()
Max

<bound method Series.idxmax of Channel
Wholesale      4286
Distributor    2510
Export         1195
Name: count, dtype: int64>

In [17]:
print("The Highes Producer is",Max)

The Highes Producer is Wholesale

In [43]:
df.groupby("Currency Code")["Total Revenue"].sum().sort_values(ascending=False).head(2)

Currency Code
NZD    58149949.9
USD    44650843.5
Name: Total Revenue, dtype: float64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderNumber          7991 non-null   object
 1   OrderDate            7991 non-null   datetime64[ns]
 2   Ship Date            7991 non-null   datetime64[ns]
 3   Customer Name Index  7991 non-null   int64
 4   Channel              7991 non-null   object
 5   Currency Code        7991 non-null   object
 6   Warehouse Code       7991 non-null   object
 7   Region Index         7991 non-null   int64
 8   Product  Index       7991 non-null   int64
 9   Order Quantity       7991 non-null   int64
 10  Unit Price           7991 non-null   float64
 11  Total Unit Cost      7991 non-null   float64
 12  Total Revenue        7991 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4), object(4)
memory usage: 811.7+ KB